.project__card-subtitle {
  margin: 0;
  margin-top: 20px;
  font-family: "Open Sans", "Areal", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #999999;
}
